extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
block main 
    h1 Danh sách sản phẩm

    - if (messages.success)
        .message.success
        span= messages.success

    +filterStatus(filterStatus)

    form(id ="form-submit")
        input(type="text" name="keyword" placeholder="Enter your name" value= keyword)
        button(type="submit") Submit
    form(id="form-tick" method = "POST" action="/products/change-multi-status?_method=PATCH")
        input(type="text" name="tick" id="tick")
        select(name="options" id="options")
            option(value="1") Deactive
            option(value="2") Active
        button(type="submit") Submit
    //- tạo 1 form ẩn để submit

    each item in products
        li= item.name + " " + item.active
        if (item.active == true) 
            a(  
                href="javascript:;" 
                button-change-status 
                data-status="true"
                id=item.id
            ) Deactive 
        else 
            a(
                href="javascript:;" 
                button-change-status 
                data-status="false"
                id=item.id
            ) Active 
        input(type="checkbox" id_product=item.id id="checkbox-item")

    nav 
        ul 
            - for (var i = 1; i <= Math.ceil(count / limit); i++)
                li
                    button.pagination(id = i)= i

    form(
        action=""
        method = "POST"
        id="form-change-status"
        data-path=`/products/change-status`
    ) 

    script(src="./client/js/product.js")   
